body,p{
    margin: 0;
    padding:0;
 }

 fieldset{
     background:lightgrey;
 }

.main{
    height:70vh;;
}

#message_tchat{
    overflow:scroll;
    overflow-x:hidden;
    height:70vh;
}

.bleu{
    color:blue;
}
.rose{
    color:rosybrown;
}

.bleu,.rose{
    cursor:pointer;
}
.bleu:hover{
    background-color:lightblue;
    color:white;
}
.rose:hover{
    background-color:lightpink;
    color:white;
}

.smiley{ 
    margin: 2px;
    width:22px;
 }

.loader{
background: url(ajax-loader.gif) no-repeat;
width: 22px;
height: 22px;
}

.container{
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
    border-radius:20px;
    height:86vh;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: royalblue;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkblue; 
    border-radius: 10px;
}